.history-container{
    display:block;
    border: 2px solid black;
    padding: 30px;
    margin: 5%;
    border-radius: 8px;
    background: rgba(0, 138, 236, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 2px solid rgba(1, 55, 93, 0.3);
    font-size:large;
    line-height: 40px;
}

.history-container a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}